﻿@model Task_4.Models.City

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Создать город</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name, "Название города")
    <br />
    @Html.EditorFor(model => model.Name)
    <br />
    <br />

    <input type="submit" value="Добавить" />
}