﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Task_4.Models.City
<h2>Удаление города</h2>
<dl>
    <dt>Название</dt>
    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>


@using (Html.BeginForm())
{
    <input type="submit" value="Удалить" />
}