﻿@{
    ViewBag.Title = "Редактировать город";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Task_4.Models.City
<h2>Город № @Model.Id</h2>
@using (Html.BeginForm("EditCity", "Home", FormMethod.Post))
{
    <fieldset>
        @Html.HiddenFor(m => m.Id)
        <p>
            @Html.LabelFor(m => m.Name, "Название города")
            <br />
            @Html.EditorFor(m => m.Name)
        </p>
        <p><input type="submit" value="Отправить" /></p>
    </fieldset>
}